<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<project default="create_run_jar" name="Create Runnable Jar for Project wikidata_extractor">
    <!--this file was created by Eclipse Runnable JAR Export Wizard-->
    <!--ANT 1.7 is required                                        -->
    <!--define folder properties-->
	<!-- Created by Nicolas Travers <nicolas.travers@devinci.fr> 2022-2023©	-->
    <property name="dir.buildfile" value="."/>
    <property name="dir.workspace" value="/Users/ntravers/eclipse-workspace"/>
    <property name="dir.jarfile" value="${dir.buildfile}/Neo4j/wikidata/wikidata_extractor"/>
    <target name="create_run_jar">
        <jar destfile="${dir.jarfile}/Translate2Neo4j.jar" filesetmanifest="mergewithoutmain">
            <manifest>
                <attribute name="Main-Class" value="Translate2Neo4j"/>
                <attribute name="Class-Path" value="."/>
            </manifest>
            <fileset dir="${dir.jarfile}/bin"/>
        </jar>
    </target>
</project>
