/*
"fill-mode" ...
    "fill-color" ...
    "fill-image" ...
    "stroke-mode" ...
    "stroke-color" ...
    "stroke-width" ...
    "shadow-mode" ...
    "shadow-color" ...
    "shadow-width" ...
    "shadow-offset" ...
    "text-mode" ...
    "text-color" ...
    "text-style" ...
    "text-font" ...
    "text-size" ...
    "text-visibility-mode" ...
    "text-visibility" ...
    "text-background-mode" ...
    "text-background-color" ...
    "text-offset" ...
    "text-padding" ...
    "icon-mode" ...
    "icon" ...
    "padding" ...
    "z-index" ...
    "visibility-mode" ...
    "visibility" ...
    "shape" ...
    "size" ...
    "size-mode" ...
    "shape-points" ...
    "text-alignment" ...
    "jcomponent" ...
    "arrow-image" ...
    "arrow-size" ...
    "arrow-shape" ...
    "sprite-orientation" ...
    "canvas-color" .
*/
graph {fill-color: white;}
node {
	size:3px;
	size-mode: dyn-size;
	fill-color:lightgray;
	shape:rounded-box;
}
node:clicked{fill-color:white;}

node.TF{fill-color:#606060;shape:circle;stroke-mode:plain;stroke-color:black;z-index:10;}
node.TF_infinite{fill-color:black;shape:circle;stroke-mode:plain;stroke-color:black;z-index:9;}
node.TF_invalid{fill-color:#606060;shape:circle;stroke-mode:plain;stroke-color:black;z-index:10;}

edge {shape: cubic-curve;size:1px;}

/*
node.p{fill-color: #fafae6;z-index:0;visibility-mode:hidden;}
edge.p{fill-color: #fafae6;z-index:0;visibility-mode:hidden;}
node.s{fill-color: #e6fafa;z-index:0;visibility-mode:hidden;}
edge.s{fill-color: #e6fafa;z-index:0;visibility-mode:hidden;}
node.o{fill-color: #fae6fa;z-index:0;visibility-mode:hidden;}
edge.o{fill-color: #fae6fa;z-index:0;visibility-mode:hidden;}
*/
node.s{fill-color: #e6fafa;size:6px;shape: box;z-index:1;}
node.o{fill-color: #fae6fa;size:6px;shape: box;z-index:1;}
node.p{fill-color: #fafae6;size:6px;shape: box;z-index:1;}

edge.p{fill-color: white;z-index:0;visibility-mode:hidden;}
edge.s{fill-color: white;z-index:0;visibility-mode:hidden;}
edge.o{fill-color: white;z-index:0;visibility-mode:hidden;}

edge.C1{fill-color:red;z-index:3;}
edge.C1_1{fill-color:red;z-index:3;}
edge.C3{fill-color:red;z-index:3;}
edge.C4{fill-color:red;z-index:3;}

edge.C2{fill-color:red;z-index:3;}
edge.C2_1{fill-color:red;z-index:3;}
edge.C5{fill-color:red;z-index:3;}

edge.C6{fill-color:green;z-index:3;}
edge.C6_1{fill-color:green;z-index:3;}
edge.C7{fill-color:green;z-index:3;}
edge.C8{fill-color:green;z-index:3;}

edge.C18{stroke-color:#6cd377;z-index:3;}

edge.C9{stroke-color:#5353ff;z-index:3;}
edge.C16{stroke-color:#5353ff;z-index:3;}
edge.C17{stroke-color:#5353ff;z-index:3;}

edge.C19{stroke-color:#a5552a;z-index:3;}

edge.TC1{fill-color:purple;size:1px;z-index:4;}
edge.TC1_pCon{size:1px;fill-color:#f096f0;z-index:4;}
edge.TC1_pInc{size:2px;fill-color:#c896c8;z-index:5;}
edge.TC1_tInc{size:3px;fill-color:#c800c8;z-index:6;}

edge.inference{size:1px;fill-color:blue;z-index:6;}
